<h1>Hello, user!</h1>
<!-- The link_to method is one of Rails' built-in view helpers. It creates a hyperlink based on text to display and where to go -->
<%= link_to 'Learn Resources', controller: 'resources' %>