<div class= "row jumbotron-signin">

  <div class="about col-sm-6">
    <h2>What is Learn Together all about?</h2>
    <p>I'm currently learning to become a Fullstack Web Developer, enrolled as an online student at Flatiron School to help me get there.  What I've learned about the Tech Industry is that it's a culture.  A helpful community with vast amounts of knowlegde and wisdom.  If you're anything like me, you need all the help you can get.  I find myself constantly bookmarking sites and reaching out on slack channels or looking back at previous conversations where I think I might have seen someone talk about a certain error I'm getting, or a simpler way to write the code I want. </p>
    <p>The goal of this App is to get students to add additional resources they found helpful as they were going through one of the 8 topics we learn.  Simply name the resource and add the link and it'll be available to see on the respective topic page.  I hope this helps...happy coding!  </p>
  </div>

  