<div class="jumbotron jumbotron-9">
    <h1>Top Three Resources</h1>
  </div> 


<div class="container-fluid-top-three">
  <% @top_resources.each do |top_resource| %>
    <h1><%= top_resource.title %> </h1>
  <% end %>

</div>