/*############# TOPICS ############# */
/*.welcome-header {
  text-align: center;
  padding-bottom: 10rem;
  padding-top: 10rem;
  letter-spacing: 1px;
}

.section-subtitle {
  text-align: center;
  color: #aaa8ad;
  letter-spacing: 2px;
}

.test-grid-element {
  background: red;
  height: 50px;
  border: 2px solid black;
  text-align: center;
}

.thumbnail-header {
  height: 75px;
}

.Ruby {
  .thumbnail-header {
    background-color: Red;
    .topic-img {
      background-image: url(gem.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
} 

.HTML {
  .thumbnail-header {
    background-color: #FF9C23;
    .topic-img {
      background-image: url(html_css.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
} 

.Rack {
  .thumbnail-header {
    background-color: #87E8C6;
    .topic-img {
      background-image: url(rack.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
} 

.ActiveRecord {
  .thumbnail-header{
    background-color: #88C057;
    .topic-img {
      background-image: url(database.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.Rails {
  .thumbnail-header{
    background-color: #D20000;
    .topic-img {
      background-image: url(rails.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.Javascript {
  .thumbnail-header{
    background-color: #F7DF1E;
    .topic-img {
      background-image: url(javascript.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.Sinatra {
  .thumbnail-header{
    background-color: Black;
    .topic-img {
      background-image: url(sinatra.png);
      background-size: cover;
      background-repeat: no-repeat;
    }

  }
}

.Angular {
  .thumbnail-header{
    background-color: #C30E2E;
    .topic-img {
      background-image: url(angular.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.ORM {
  .thumbnail-header{
    background-color: #87E8C6;
  }
}

.caption {
  .thumb-title{
    text-align: center;
    color: #000000;
    padding-top: 1rem;
    padding-bottom: .5rem;
  }
}

.caption {
 .thumb-text{
    text-align: center;
    color: #aaa8ad;
    letter-spacing: 2px;
    padding-bottom: 10rem;
  }
}

.thumbnail {
  padding-bottom: 2rem;
}*/

/*.thumbnail-header {
  .topic-img {
    width: 65px;
    height: 65px;
    background: white;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    top: 50%;
    border: 7px solid White;
    margin: auto;
  }
}

/*################## INDIVIDUAL TOPICS ##################*/

/*  .jumbotron {
    text-align: center;
    background-color: red;
    padding: 1336rem, 61rem;
    padding-bottom: 25rem;
    letter-spacing: 1px;
    color: White;
  }*/

